/* Navbar styles */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: transparent; /* Make the navbar transparent */
    backdrop-filter: blur(10px); /* Glass-like effect */
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Light border for separation */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }
  
  .navbar h1 {
    font-size: 1.5rem;
    margin: 0;
    font-weight: bold; /* Make the logo bold */
    color: #333; /* Dark gray color */
  }
  
  .navbar .nav-links {
    display: flex;
    gap: 1.5rem;
  }
  
  .navbar .nav-links a {
    color: #f3e5e8; /* Darker gray color */
    text-decoration: none;
    transition: color 0.3s; /* Add a transition effect */
    font-weight: bolder;
  }
  
  .navbar .nav-links a:hover {
    color: #0a0b10; /* Change color on hover */
  }
  
  .navbar .nav-links a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #b00d3e; /* Blue color */
    transition: width 0.3s; /* Add a transition effect */
  }
  
  .navbar .nav-links a:hover::after {
    width: 100%; /* Expand the underline on hover */
  }
  
  .navbar .profile-button {
    background-color: #cd6b78;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }
  
  .navbar .profile-button:hover {
    background-color: #cd6b7f; /* Change color on hover */
  }
  
  /* Adjustments for mobile view */
  @media (max-width: 768px) {
    .navbar h1 {
      font-size: 1.25rem;
    }
  
    .navbar .nav-links {
      gap: 1rem;
    }
  
    .navbar .profile-button {
      padding: 0.4rem;
    }
  }